<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2><%= title %></h2>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>ad</th>
        <th>soyad</th>
        <th>telefon</th>
        <th>mail</th>
        <th>sehir</th>
        <th>universite</th>
        <th>alan</th>
        <th>sinif</th>
        <th>staj_süresi</th>
      </tr>
    </thead>
    <tbody>
        <% staj.forEach(function(staj){ %>
            <tr>
                <td><%= staj.ad %></td>
                <td><%= staj.soyad %></td>
                <td><%= staj.telefon %></td>
                <td><%= staj.mail %></td>
                <td><%= staj.sehir %></td>
                <td><%= staj.universite %></td>
                <td><%= staj.alan %></td>
                <td><%= staj.sinif %></td>
                <td><%= staj.staj_süresi %></td>
                <td>
                    <a href="puan/<%= staj.ad %>" class="btn btn-sm btn-primary">Puanla</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
  </table>
</div>
 
</body>
</html>